* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #23252c;
}

.business-card {
  margin: 3em auto;
  width: 317px;
  text-align: center;
  background: #1a1b21;
  color: #f5f5f5;
  border-radius: 10px;
}

.profile-pic {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.full-name {
  color: #ffffff;
  margin: 1em 0 0.25em;
}

.title {
  color: #f3bf99;
  margin: 0 0 0.5em;
  font-size: 0.9rem;
  font-weight: 400;
}

.website {
  color: #f5f5f5;
  margin: 0 0 1em;
  font-size: 0.7rem;
}

.email-btn,
.linkedin-btn {
  width: 115px;
  height: 34px;
  margin: 0 0.5em 1em;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.email-btn {
  color: #374151;
  background-color: #ffffff;
}

.linkedin-btn {
  color: #ffffff;
  background: #5093e2;
}

.linkedin-image,
.email-image {
  width: 15px;
  margin-right: 8px;
  vertical-align: middle;
}

/* ----------------- About and Interests Sections --------------- */

.about-container,
.interests-container {
  text-align: left;
  padding: 1.25em 2.4em 0;
}

.about-container {
  padding-bottom: 1.25em;
}

.interests-container {
  padding-top: 0;
  padding-bottom: 1.25em;
}

.about-title,
.interests-title {
  margin: 0;
}

.about-description,
.interests-description {
  color: #dcdcdc;
  font-size: 0.9em;
}

/* ---------------------- Footer Section ------------------------- */

.footer-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.icon {
  cursor: pointer;
}
